alembic==1.16.5
asyncpg==0.30.0
fastapi==0.116.1
qrcode==8.2
httpx==0.28.1
mcp==2.2.0
pydantic-settings==2.10.1
pillow==12.3.0
pymupdf==1.28.2
pypdf==6.19.0
python-multipart==0.0.20
SQLAlchemy==2.0.43
starlette==0.47.3
uvicorn[standard]==0.35.0
